body {
  background: url('./images/background_start.png');
  background-size: cover;

}

.button_pic {
margin-top: 10px;
background: url('./images/eat.jpg');
height: 200px;
width: 200px;
font-family: fantasy;
color: black;
font-size: 40px;
}

.button_pic_white {
margin-top: 10px;
height: 200px;
width: 200px;
background-color: white;
font-size: 40px;
font-family: fantasy;
}

.english_game {
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 350px;
}

.margin_menu_buttons {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.margin2 {
  margin-left: 50px;
  margin-top: 30px;
}

.item {
  margin: 0 5px;
}
.pic {
  height: 200px;
}

.bird_hello {
  height: 430px;
  margin-top: 30px;
  margin-right: 120px;
}

.margin_bird {
  display: flex;
  justify-content: center;
}

.content {
  margin: auto auto 40px;
  padding: 20px;
  text-align: center;
  min-width: 850px;
  min-height: 470px;
  width: 65%;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 25px;
}

.button_style {
  border-radius: 30px;
  background: yellowgreen;
  font-family: fantasy;
  color: black;
  font-size: 28px;
  padding: 10px;
  margin: 15px;
}

.rectangle {
  margin-bottom: 20px;
}