body {
  background: url('./images/background_start.png');
  background-size: cover;

}
.english_game {
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 350px;
}

.margin_menu_buttons {
  display: flex;
  justify-content: center;
  margin: 0 -5px;
}

.margin2 {
  margin-left: 50px;
  margin-top: 30px;
}

.item {

  margin: 0 5px;
  margin-top: 10px;

}
.pic {
  height: 200px;
}

.bird_hello {
  height: 430px;
  margin-top: 30px;
  
}

.margin_bird {
  display: flex;
  justify-content: center;
}