body {
  background: url('./background_start.png');
  background-size: cover;

}
.english_game {
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 650px;
}

.margin {
  margin-left: 450px;
  margin-top: 30px;
}

.margin2 {
  margin-left: 50px;
  margin-top: 30px;
}

.pic {
  height: 200px;
}